node_modules/
dist/
dist-tauri/
src-tauri/target/
src-tauri/binaries/
sqlite.db
test.sqlite
*.db
*.sqlite
*.sqlite-shm
*.sqlite-wal
.env
.data/
.DS_Store
.idea/
.vscode/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
test-results/
playwright-report/
